/*body {
	color: white;
}
*/
footer {
	padding-top:50px;
}

video {
    background: rgba(0,0,0,.75);
}

.card {
	border: none;
}

.card-img-overlay {

}

.card-img-top {
/*	height: 300px;*/
}

.carousel-caption {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.carousel-frame {
    border: 1px solid rgba(0,0,0,.125);
}

.carousel-item img {
	max-height: 600px;
	margin: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.closing {
	color: white;
	margin-top: 20px;
}

.contacts ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
}

.contacts ul li a {
	text-decoration: none;
	color: white;
}

.display {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 40px 20px 40px;
}

.foot {
	background-color: #000000;
}

.icon {
	max-height: 64px;
}

.icons {
	color: white;
}

.jumbotron {
	background: rgba(52, 58, 64,.53);
	color: white;
}

.lead {
	padding-top: 20px;
}

.nav-link {
	margin-left: 15px;
	margin-right: 15px;
}

.product-card * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.product-card *, :before,
.product-card *, :after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.social-media-nav {
	background-color: #000000;
}

#content {
	background: rgba(63, 63, 63, 0.53);
	min-height: 600px;
	margin-top: 20px;
/*	padding-top: 20px;*/
	padding: 0px 0px 50px 0px;
/*	padding-bottom: 50px;*/
}

#main {
	background: rgba(150, 149, 149, 0.53);
	background-image: url("../images/bag-hero-color.jpg");
	background-size: cover;
	padding: 20px 20px 50px 20px;
/*	padding-top: 20px
	padding-bottom: 50px;*/

}

#poster {
	border-radius: 0em;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


#poster h5 {
  font-family: 'ethnocentric_lt', Arial, sans-serif;
}

#poster p span {
  font-family: 'ethnocentric_lt', Arial, sans-serif;	
}

@media (max-width: 576px)
	.lineup {
		margin: auto;
}